.button{
    color: var(--text-color-0);
    text-decoration: none;
}

.button svg {
    stroke: var(--text-color-0);
    fill: var(--text-color-0);
}

.button:hover {
    color: var(--text-color-1);
}

.button:hover svg {
    stroke: var(--text-color-1);
    fill: var(--text-color-1);
}

.active a, .active p {
    color: var(--text-color-2);
}

.active:hover svg {
    stroke: var(--text-color-2);
    fill: var(--text-color-2);
}

.active:hover {
    color: var(--text-color-2);
}

.active svg {
    stroke: var(--text-color-2);
    fill: var(--text-color-2);
}
