.sun {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    height: 100px;
    background: radial-gradient(circle, rgba(28, 176, 250, 0.3) 0%, rgba(28, 176, 250, 0) 80%);
    transform: translate(-50%, -50%);
    filter: blur(40px);
    pointer-events: none;
}
