@import 'normalize.css';

:root {
  --background-color-0: #122134;
  --background-color-1: #19283c;

  --text-color-0: #4e6077;
  --text-color-1: #9da8b5;
  --text-color-2: white;
}

body {
  width: 100dvw;
  height: 100dvh;
}
