.button{
    display: flex;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button svg{
    height: 45%;
    padding-bottom: 5px;
}

.button p{
    height: 20%;
    margin: 0;
    font-size: 10px;
    text-decoration: none;
}

.notifications {
    position: absolute;
    top: 0;
    right: 20%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FA9130;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
}
